PANDAS
--> Pandas is a fast powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the python programming language

# 2008 by Mckinney

# very useful with structured data(tabular data)

In [3]:
import pandas as pd
#Read a comma-separated values(csv) files into data frame
df=pd.read_csv("healthcare_dataset.csv")

In [4]:
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [5]:
# By default pandas understand the first rows as the column name
pd.read_csv("healthcare_dataset.csv",header=None)# internal integer indexes are provided by pandas for both rows and colums

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
1,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281305978155,328,Urgent,2024-02-02,Paracetamol,Normal
2,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327286577885,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
3,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096078842456,205,Emergency,2022-10-07,Aspirin,Normal
4,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78240987528,450,Elective,2020-12-18,Ibuprofen,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55496,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.7149523295766,417,Elective,2020-09-15,Penicillin,Abnormal
55497,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797306905242,316,Elective,2020-02-01,Aspirin,Normal
55498,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717427424,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55499,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358488677,321,Elective,2019-05-31,Ibuprofen,Abnormal
55500,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134171643987,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [6]:
pd.read_csv("healthcare_dataset.csv",skiprows=2)#skip first two rows while reading the data

,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327286577885,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
0,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
1,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
2,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
3,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.110951,389,Urgent,2023-12-24,Ibuprofen,Normal
4,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55493,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55494,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55495,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55496,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55497,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [7]:
# TO read particular colums
pd.read_csv("healthcare_dataset.csv",usecols=["Name","Medical Condition"])

                    Name Medical Condition
0          Bobby JacksOn            Cancer
1           LesLie TErRy           Obesity
2            DaNnY sMitH           Obesity
3           andrEw waTtS          Diabetes
4          adrIENNE bEll            Cancer
...                  ...               ...
55495  eLIZABeTH jaCkSOn            Asthma
55496         KYle pEREz           Obesity
55497       HEATher WaNG      Hypertension
55498     JENniFER JOneS         Arthritis
55499       jAMES GARCiA         Arthritis

[55500 rows x 2 columns]

In [8]:
# data structure>> We store data in form of series and dataframe
# Series >> 1 Dimensional in nature
# Dataframe >> 2 Dimensional in nature

In [9]:
type(df)

pandas.core.frame.DataFrame

In [11]:
#if want to see hospital
df.Hospital

0                     Sons and Miller
1                             Kim Inc
2                            Cook PLC
3          Hernandez Rogers and Vang,
4                         White-White
                     ...
55495                  Jones-Thompson
55496                    Tucker-Moyer
55497    and Mahoney Johnson Vasquez,
55498        Jackson Todd and Castro,
55499                  Henry Sons and
Name: Hospital, Length: 55500, dtype: object

In [12]:
#Another method to acces colums>> mostly used
df["Hospital"]

0                     Sons and Miller
1                             Kim Inc
2                            Cook PLC
3          Hernandez Rogers and Vang,
4                         White-White
                     ...
55495                  Jones-Thompson
55496                    Tucker-Moyer
55497    and Mahoney Johnson Vasquez,
55498        Jackson Todd and Castro,
55499                  Henry Sons and
Name: Hospital, Length: 55500, dtype: object

In [13]:
type(df["Hospital"])# a column is a series in a dataframe

pandas.core.series.Series

In [15]:
l=[1,2,3,4,5]
s=pd.Series(l)#One-dimensional ndarray with axis labels (including time series).

In [16]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
#by default indexes are integer,we can hav custom indexes
d=pd.Series([100,200,300],index=["Ajay","Prathamesh","Sarvika"])

In [20]:
d

Ajay          100
Prathamesh    200
Sarvika       300
dtype: int64

In [21]:
type(d)

pandas.core.series.Series

In [22]:
d["Ajay"]

np.int64(100)

In [23]:
# To see all the index of a series
d.index

Index(['Ajay', 'Prathamesh', 'Sarvika'], dtype='object')

In [24]:
# TO reset index
d.reset_index(drop=True)

0    100
1    200
2    300
dtype: int64

In [26]:
d# if you want to convert this seires into data fram

Ajay          100
Prathamesh    200
Sarvika       300
dtype: int64

In [27]:
pd.DataFrame(d)

              0
Ajay        100
Prathamesh  200
Sarvika     300

In [28]:
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [29]:
# If you want ot first 5 rows
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [30]:
#If you wan first 3 rows using head
df.head(3)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal

In [31]:
# if you want to see last 5 rows
df.tail()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [32]:
# if you want to see last 2 rows using head
df.tail(2)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [33]:
df.shape

(55500, 15)

In [35]:
df.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [39]:
#converting columns into list
list(df.columns)

['Name',
 'Age',
 'Gender',
 'Blood Type',
 'Medical Condition',
 'Date of Admission',
 'Doctor',
 'Hospital',
 'Insurance Provider',
 'Billing Amount',
 'Room Number',
 'Admission Type',
 'Discharge Date',
 'Medication',
 'Test Results']

In [42]:
#If you want to see any random rows
df.sample(4)# pass how muc rows you wan too see

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
30943,THERESa bArRY,23,Male,AB+,Cancer,2021-04-30,Maria Miller,Walters Inc,Medicare,13018.171576,103,Emergency,2021-05-26,Ibuprofen,Abnormal
3106,emILY WILLIAMS,28,Female,B+,Diabetes,2019-12-11,Sharon Campbell,Howard-Davis,Aetna,50325.557008,244,Elective,2020-01-10,Aspirin,Abnormal
41681,yVOnnE JeNkInS,33,Male,B+,Arthritis,2021-03-28,Wendy Sawyer,"Stephenson Smith Morales, and",Medicare,10646.492318,296,Elective,2021-04-19,Paracetamol,Normal
52090,ANThoNy HaLL,44,Male,AB-,Obesity,2022-08-28,Kaitlyn Terry,"and Cain, Phillips Kane",Blue Cross,47358.839862,128,Urgent,2022-09-04,Paracetamol,Inconclusive

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [45]:
df.dtypes

Name                   object
Age                     int64
Gender                 object
Blood Type             object
Medical Condition      object
Date of Admission      object
Doctor                 object
Hospital               object
Insurance Provider     object
Billing Amount        float64
Room Number             int64
Admission Type         object
Discharge Date         object
Medication             object
Test Results           object
dtype: object

In [48]:
#converting serires to dataframe
s=pd.Series([100,200,300],index=['A','B','C'])

In [49]:
s

A    100
B    200
C    300
dtype: int64

In [53]:
d=pd.DataFrame(s)
d

     0
A  100
B  200
C  300

In [54]:
type(d)

pandas.core.frame.DataFrame

In [55]:
#IF you want to add new coulumn in data frame
d["new"]="hello"
d

     0    new
A  100  hello
B  200  hello
C  300  hello

In [56]:
d["new"]# Best way to access the column this way but if its a continous string you can access df.columnname

A    hello
B    hello
C    hello
Name: new, dtype: object

In [59]:
d["new2"]=[1,2,3]# no of new column elements should be equsld to no of rows
d

     0    new  new2
A  100  hello     1
B  200  hello     2
C  300  hello     3

In [61]:
# if you want to change the column name
d.columns=['col1','col2','col3']

In [62]:
d

   col1   col2  col3
A   100  hello     1
B   200  hello     2
C   300  hello     3

In [66]:
# Reset index
d.reset_index(drop=True)

   col1   col2  col3
0   100  hello     1
1   200  hello     2
2   300  hello     3

In [67]:
# acessing one colums
df["Hospital"]

0                     Sons and Miller
1                             Kim Inc
2                            Cook PLC
3          Hernandez Rogers and Vang,
4                         White-White
                     ...
55495                  Jones-Thompson
55496                    Tucker-Moyer
55497    and Mahoney Johnson Vasquez,
55498        Jackson Todd and Castro,
55499                  Henry Sons and
Name: Hospital, Length: 55500, dtype: object

In [71]:
#Accessing one column -- series,multiple colums (with square bracket becomes a dataframe)
# a subset of dataframe
df_subset=df[["Name","Age","Gender"]]
df_subset

                    Name  Age  Gender
0          Bobby JacksOn   30    Male
1           LesLie TErRy   62    Male
2            DaNnY sMitH   76  Female
3           andrEw waTtS   28  Female
4          adrIENNE bEll   43  Female
...                  ...  ...     ...
55495  eLIZABeTH jaCkSOn   42  Female
55496         KYle pEREz   61  Female
55497       HEATher WaNG   38  Female
55498     JENniFER JOneS   43    Male
55499       jAMES GARCiA   53  Female

[55500 rows x 3 columns]

In [72]:
type(df_subset)

pandas.core.frame.DataFrame

In [73]:
# other file accessing method
# Example --> pd.read_excel("file_name.xlsx")